
<% posts.forEach(post => { %>
  <div class="border rounded p-4 mb-4 bg-light">
   <h3 class="bg-primary p-2"><a href="posts/show/<%= post.id %>"
     class="text-white text-decoration-none"><%= post.title %></a> </h3>
   <p>j/<a href="/subs/show/<%= post.subgroup %>"><%= post.subgroup %></a> &#8226;Posted by u/<%= post.creator.uname %>, <%= post.timeago %></p>
   <p><%= post.description %></p>
   <p><a href="<%= post.link %>" target="__blank">Link</a></p>
  </div>
<% }) %>

