<h2><a href="/subs/list">Sub list</a></h2>
<h2><a href="/auth/login">Log in</a></h2>
  <% posts.forEach(post => { %>
   <h3><a href="posts/show/<%= post.id %>"><%= post.title %></a> </h3>
   <p>j/<a href="/subs/show/<%= post.subgroup %>"><%= post.subgroup %></a> &#8226;Posted by u/<%= post.creator.uname %>, <%= post.timeago %></p>
   <p><%= post.description %></p>
   <p><a href="<%= post.link %>" target="__blank">Link</a></p>
   <br>
  <% }) %>
 <a href="/posts/create">Create new Post</a>

