<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= subName %></title>
</head>
<body>
  <h2>Posts in j/<%= subName %></h2>
  <% posts.forEach(post => { %>
    <h3><a href="/posts/show/<%= post.id %>"><%= post.title %></a> </h3>
    <p>j/<a href="/subs/show/<%= post.subgroup %>"><%= post.subgroup %></a> &#8226;Posted by u/<%= post.creator.uname %>, <%= post.timeago %></p>
    <p><%= post.description %></p>
    <p><a href="<%= post.link %>" target="__blank">Link</a></p>
    <br>
  <% }) %>
  <a href="/">Back to Home</a>
</body>
</html>