<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= post.title %></title>
</head>
<body>
  <h3><%= post.title %> </h3>
  <p>j/<a href="/subs/show/<%= post.subgroup %>"><%= post.subgroup%></a> &#8226; Posted by u/<%= post.creator.uname %> </p>
  <p><%= post.description %></p>
  <p><a href="<%= post.link %>" target="__blank">Link</a></p>
  <br>
  <a href="/">Back to Home</a>
</body>
</html>